<nav class="navbar navbar-default navbar-fixed-top" id="top-navbar">
  <div class="container">
    <div class="navbar-header pull-left">
      <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="#" class="navbar-brand <%= Blogging.blog_logo.present? ? 'logo-img' : '' %>">
        <%= Blogging.blog_logo.present? ? image_tag(Blogging.blog_logo) : Blogging::BlogAdmin::Setting.key_site_name %>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li>
          <%= link_to 'Home', root_path %>
        </li>
        <%= get_menu %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
            </li>
            <li>
              <%= link_to 'Blog Post', new_blog_path %>
            </li>
        <% else %>
            <li> <%= link_to "Sign in", new_user_session_path %> </li>
            <li> <%= link_to "Sign up", new_user_registration_path %> </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>